<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/hostPage_layout">
	
	<head>
		<title>내 게스트하우스</title>
		<meta http-equiv="Content-Type" content="charset=UTF-8"/>
	</head>
	
	<body>
		<div layout:fragment="hostPage_content">
			<table border="2">
				<tr>
					<th>NO</th>
					<th>등록번호</th>
					<th>이름</th>
					<th>신청일</th>
					<th>상태</th>
				</tr>
				<tr>
					
				</tr>
				
				
			</table>
		</div>
		
		<div layout:fragment="hostPage_script">
					
		
		</div>
	</body>

</html>