<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/hostPage_layout">

	<head>
		<title>게스트하우스 등록</title>
	</head>
	<body>
		<div layout:fragment="hostPage_content">
			<h2>내 게스트하우스 등록하기</h2>
			<label class="hostPage_label">게스트하우스 사진(최대 10장)</label>
			
			<label class="hostPage_label">게스트하우스 이름<br>상호명</label>
			<label class="hostPage_label">태그<br>(복수 선택 가능)</label>
			<label class="hostPage_label">설명</label>
			
		</div>
	</body>
</html>