<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/myPage_layout">
<head>
<meta charset="UTF-8">
<title>찜 한 숙소</title>
<style>
.center {
	float: left;
}

th {
	text-align: center;
}

p {
	font-size: 20px;
	width: 413px;
}

.modal-content {
	width: max-content;
}

.modal-body {
	width: max-content;
}

.free {
	padding-top: 26px;
}



.buttonBox {
	padding-top: 12px;
}

img {
	margin: 9px;
}

.modal {
	text-align: center;
}

@media screen and (min-width: 768px) {
	.modal:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
	}
}

.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
}
</style>
</head>
<body>
	<div layout:fragment="myPage_content">
		<div th:if="${#lists.size(likeList)==0}" style="padding-top: 33px">
			<p class="heading">찜 한 숙소가 없습니다.</p>
			<a href="/search" class="btn btn-info waves-effect">숙소 둘러보기</a>
		</div>
		<div th:if="${#lists.size(likeList)>0}" style="width: 700px;"
			align="right">

			<table class="tableOne" width="700px">
				<tr align="center" height="80px"
					style="border-bottom: 2.2px solid lightgray">
					<th>게스트하우스</th>
					<th>가격</th>
					<th>평점</th>
					<th></th>
					<th><input type="checkbox" id="checkall"></th>
				</tr>
				<form action="/myPage/deleteLike" id="deleteFrm">
					<tr th:each="likeDto : ${likeList}" align="center">

						<td><a href="#"><img class="center"
								th:src="@{'/gehaImg/'+${likeDto.guestHouseCode}+'/'+
							${likeDto.savedName}}"
								width="120px" height="100px"
								style="border: 1px solid gray; -webkit-border-radius: 7px;"
								onclick="showImg()" th:id="${likeDto.guestHouseCode}"></a>

							<div class="free">
								[[${likeDto.guestHouseName}]]<br> <span
									style="color: gray;">([[${likeDto.roomName}]])</span>
							</div></td>
						<td>[[${likeDto.charge}]]</td>
						<td>[[${likeDto.avgRating}]]</td>
						<td><a
							target="_blank" th:href="@{'/room/roomInfo?guestHouseCode='+${likeDto.guestHouseCode}+
				'&bookingStart='+${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}+
				'&bookingEnd='+${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}+'&bookingNumber=1'}">
								예약하러가기</a></td>
						<td><input type="checkbox" name="chk"
							th:value="${likeDto.roomCode}"></td>



					</tr>
				</form>

			</table>
			<div class="buttonBox">
				<button type="button" class="btn-primary" onClick="deleteLike()">삭제</button>
			</div>

			<!-- 게시판 하단의 페이징 버튼 -->
			<div class="box-footer clearfix" align="center">
				<ul class="pagination pagination-sm no-margin pull-center">

					<li th:if="${pageMaker.prev} == true"><a
						th:href="@{/myPage/myLike(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
					</li>

					<li
						th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
						th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
						<a
						th:href="@{/myPage/myLike(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}"
						th:text="${idx}"></a>
					</li>

					<li th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
						<a
						th:href="@{/myPage/myLike(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
					</li>

				</ul>

			</div>


		</div>

		<!--Modal: confirmModal(삭제 확인 / 완료 모달)-->
		<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm modal-notify modal-danger"
				role="document">
				<!--Content-->
				<div class="modal-content text-center">
					<!--Header-->
					<div class="modal-header d-flex justify-content-center">
						<br /> <br />
						<p id="modalName" class="heading"></p>
					</div>

					<!--Body-->
					<div class="modal-body">
						<form id="deleteFrm" action="/myPage/deleteReview">
							<input type="hidden" id="deleteInput" name="reviewNo">
						</form>


					</div>
					<br />
					<!--Footer-->
					<div class="modal-footer flex-center">
						<a href="#" class="btn btn-primary btn-lg" id="secret"
							onclick="frmSubmit()">확인</a> <a href="#"
							class="btn btn-primary btn-lg" data-dismiss="modal">닫기</a>
					</div>
				</div>
				<!--/.Content-->
			</div>
		</div>
		<!--Modal: confirmModal-->

		<!-- Modal: 사진 슬라이더 -->
		<div class="modal fade bs-example-modal-lg" id="imgModal"
			tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div id="carousel-example-generic" class="carousel slide"
						data-ride="carousel">
						<!-- Wrapper for slides -->
						<div class="carousel-inner" id="putImageArea"></div>

						<!-- Controls -->
						<!-- 	<a class="left carousel-control" href="#carousel-example-generic"
							role="button" data-slide="prev"> <span
							class="glyphicon glyphicon-chevron-left"></span>
						</a> <a class="right carousel-control"
							href="#carousel-example-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a> -->
					</div>
				</div>
			</div>
		</div>

		<!-- Modal: 사진 슬라이더 끝-->

		<div layout:fragment="myPage_script">
			<script
				src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
			<script th:inline="javascript" type="text/javascript">
		
		
		$(document).ready(function(){
			
			$("#secret").hide();
			
			//삭제하면 삭제되었다고 띄움.
			var deleteOk = [[${deleteOk}]];
			if(deleteOk!==null){
				$("#modalName").text(deleteOk);
				$("#confirmModal").modal();}
			
		    //최상단 체크박스 클릭
		    $("#checkall").click(function(){
		        //클릭되었으면
		        if($("#checkall").prop("checked")){
		            //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 true로 정의
		            $("input[name=chk]").prop("checked",true);
		            //클릭이 안되있으면
		        }else{
		            //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 false로 정의
		            $("input[name=chk]").prop("checked",false);
		        }
		    });
		    
		});

	function deleteLike(){
		$("#modalName").text('선택한 찜을 삭제하시겠습니까?');
		$("#secret").show();
		$("#confirmModal").modal();
	}
	
	function frmSubmit(){
		
		
		$("#deleteFrm").submit();
	}
	
	
	
	function showImg(){
	var map = [[${fileMap}]];
	var guestHouseCode = event.srcElement.id;
	var map2 = map[event.srcElement.id];
	var result="";
	/* console.log(map2[1].savedName); */

 $(map2).each(function(){
	 result+="<div class='item active'><img src='/gehaImg/"+guestHouseCode+"/"+this.savedName+"'></div>";
		
}); 
	
	console.log(result);
 $("#putImageArea").html(result);
		$("#imgModal").modal();
		
	}
		</script>
		</div>
	</div>
</body>
</html>