<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>로그인화면</h1>

	<a class="facebook-login-text" href="/login/facebook">
	<img src="https://www.yagaja.com/resources/images/newMobileWeb/common/pop_facebook.png"
	width="200" height="40"></a><br/>
	<a href="/login/google">
	<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7NABN7FsJQ8rVSl_iRB5zO8vnOzf6Vck1XPNozMxQ7xkBcEjU"
	width="200" height="40">
</a>
	<div th:if="${param.error}">아이디 혹은 패스워드가 올바르지 않습니다.</div>
	<form th:action="@{/member/login}" method="post">
		아이디:<input type="text" name="id"><br/>
		비밀번호:<input type="password" name="password"><br/>
				<input type="submit" value="로그인"><br/>
	</form>
	<a th:href="@{/member/chooseAuth}">회원가입</a>
	<a th:href="@{/member/findPw}">비밀번호 찾기</a>
</body>
</html>