<div th:fragment="footer" class="footer" xmlns:th="http://www.w3.org/1999/xhtml">
  <!-- Footer -->
	<section id="footer">
		<div class="container" style="color: ghostwhite; font-weight:lighter;">
			<h3 style="padding-left: 12px;">#GEHA</h3>
			<div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<ul class="list-unstyled quick-links" style="width: 700px;">
						
						<li>대표자 : 자바조 사업자 등록번호 : 107 - 87 - 79911</li>
						<li>서울특별시 강남구 신사동 566-23, JC빌딩 5층</li>
						<li>대표번호 : 02-2018-3700</li>
						<li>홍보/제휴 문의 : 02-2018-3716
					
						<a href="javascript:void();"
							target="_blank"><i class="fa fa-envelope"></i></a>
						</li>
						<li>© 2018-2019 · #GEHA(주), All Rights Reserved</li>
					</ul>
					
				</div>


			</div>
			<div class="row">
			
				</hr>
			</div>
		
		</div>
	</section>
	<!-- ./Footer -->
</div>