
<meta charset="UTF-8">

<header th:fragment="header" xmlns:th="http://www.thymeleaf.org">

	<div class="nav_wrapper">
		<div class="spinner-master">
			<input type="checkbox" id="spinner-form" /> <label
				for="spinner-form" class="spinner-spin">
				<div class="spinner diagonal part-1"></div>
				<div class="spinner horizontal"></div>
				<div class="spinner diagonal part-2"></div>
			</label>
		</div>
		<a class="navbar-brand page-scroll" href="/"
			style="color: rgb(255, 255, 255); margin-top: 10px; padding-left:25px;">#GEHA</a>
		<nav id="menu" class="menu">


			<ul class="dropdown">
				<li><a class="page-scroll" title="Link" href="/search">방찾기</a></li>
				<li><a class="page-scroll" title="Link"
					href="/myPage/bookingList">예약내역</a></li>
				<li><a class="page-scroll" title="Link" href="/faq">FAQ</a></li>
				<li th:unless="${session.name}"><a href="/member/login"
					title="Link" class="page-scroll" style="padding-right: 37px;">로그인</a></li>

				<div class="btn-group" th:if="${session.name}">
					<button type="button" class="btn btn-default dropdown-toggle"
						data-toggle="dropdown" data-hover="dropdown">
						<img src="https://image.flaticon.com/icons/svg/1256/1256628.svg"
							width="40px" height="40px">
					</button>

					<ul class="dropdown-menu" role="menu">
						<li style="text-align: center;"><span style="border: 1px;"
							th:text="${session.name}+'님'"></span></li>
						<li class="divider"></li>
						<li><a href="/myPage/bookingList" class="page-scroll">마이페이지</a></li>
						<li th:if="${session.auth.equals('HOST')}"><a
							href="/hostPage/myGuestHouseList" class="page-scroll">호스트페이지</a></li>
						<li th:if="${session.auth.equals('ADMIN')}"><a
							href="/adminPage/adminPage?auth=" class="page-scroll">관리자페이지</a></li>
						<li><a href="/logout" onclick="">로그아웃</a></li>
					</ul>
				</div>
			</ul>

		</nav>

	</div>


</header>