<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/adminPage_layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 시큐리티 + 에이젝스 에러 방지 설정 -->

<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">
<!-- 시큐리티 + 에이젝스 에러 방지 설정222 -->

var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");
$(function() {
	$(document).ajaxSend(function(e, xhr, options) {
		xhr.setRequestHeader(header, token);
	});
	
	$("#secret").hide();

	//임명하면 임명되었다고 띄움.
	var changeAdmin = [[${changeAdmin}]];
	var changeUser = [[${changeUser}]];
	if(changeAdmin!==null){
		$("#modalName").text(changeAdmin);
		$("#confirmModal").modal();}
	if(changeUser!==null){
		$("#modalName").text(changeUser);
		$("#confirmModal").modal();
	}
	
    //최상단 체크박스 클릭
    $("#checkall").click(function(){
        //클릭되었으면
        if($("#checkall").prop("checked")){
            //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 true로 정의
            $("input[name=chk]").prop("checked",true);
            //클릭이 안되있으면
        }else{
            //input태그의 name이 chk인 태그들을 찾아서 checked옵션을 false로 정의
            $("input[name=chk]").prop("checked",false);
        }
    });
    
    
    
});


var id = "";
var check = "";
var arr=[];
var auth="";

/* 권한을 관리자로 바꾸는 메소드 */
function changeAdmin(){
	
	$('input:checkbox[name="chk"]').each(function() {


	      if(this.checked){//checked 처리된 항목의 값
					
	            if(this.value=='HOST'){
	            	$("#modalName").text('호스트의 권한은 변경할 수 없습니다.');
	        		$("#confirmModal").modal();
	            	return false;
	            }else if(this.value=='ADMIN'){
	            	$("#modalName").text('이미 관리자인 회원입니다.');
	    	        		$("#confirmModal").modal();
	            	return false;
	      }
	      
	      arr.push(this.id);
	      
	      }
	      
	    
	 });
	if(arr.length>0){
		$("#secret").show();
	$("#modalName").text('선택한 회원을 관리자로 임명하시겠습니까?');
	$("#confirmModal").modal();
	}
	

}

/* 관리자를 일반회원으로 강등시키는 메소드 */
function changeUser(){
	check = "음후히히";
	
	$('input:checkbox[name="chk"]').each(function() {


	      if(this.checked){//checked 처리된 항목의 값
					
	            if(this.value=='HOST'){
	            	$("#modalName").text('호스트의 권한은 변경할 수 없습니다.');
	        		$("#confirmModal").modal();
	            	return false;
	            }else if(this.value=='USER'){
	            	$("#modalName").text('이미 일반회원인 회원입니다.');
	        		$("#confirmModal").modal();
	            	return false;
	      }
	      
	      arr.push(this.id);
	      
	      }
	      
	    
	 });
	
	if(arr.length>0){
		$("#secret").show();
	$("#modalName").text('선택한 관리자를 일반회원으로 강등하시겠습니까?');
	$("#confirmModal").modal();
	}
	
	
}

function frmSubmit(){
	
	
	auth = [[${auth}]];
	$("#id").val(arr);
	$("#auth").val(auth);
	
	
	
	  if(check==""){  /*관리자승급 */
	$("#frm").attr("action", "/adminPage/changeAdmin").submit();
	}else{  /* 강등 */
		$("#frm").attr("action", "/adminPage/changeUser").submit();
		
	}  
	
	
	
}

function search(){
	

				var searchForm = $("#searchForm");
				if (!searchForm.find("option:selected")
						.val()) {
					alert("검색종류를 선택하세요");
					return false;
				}

				else if (!searchForm.find(
						"input[name='keyword']").val()) {
					alert("키워드를 입력하세요");
					return false;
				} else{
					 searchForm.submit();
				}


				 

			
}
function authSelect(auth){
	var type = [[${pageMaker.cri.type}]];
	var keyword = [[${pageMaker.cri.keyword}]];
	if(keyword!==null){
	window.location.href="/adminPage/adminPage?type="+type+"&auth="+auth+"&keyword="+keyword;
	}else{
		window.location.href="/adminPage/adminPage?auth="+auth;
	}
}

</script>
<style>
.modal-content{
    width: max-content;
}
p{
    font-size: 20px;
        width: 413px;
}
th {
    text-align: center;
}


select {
    margin-bottom: 19px;
    width:80px;
    height:27px;
}


.btns {
    border-top: 2px solid lightgray;
    padding-top: 15px;
        text-align: right;
}

tr {
    height: 40px;
}
.test{
border-bottom: 2px solid lightgray;
}

</style>
</head>
<body>
<div layout:fragment="adminPage_content">

<div style="width:700px;">
<select class="selectpicker" onchange="authSelect(this.value)" style="width:80px;height:30px;">
	<option value=''>전체보기</option>
  <option value='user' th:selected="${auth.equals('user')}">USER</option>
  <option value='host' th:selected="${auth.equals('host')}">HOST</option>
  <option value='admin' th:selected="${auth.equals('admin')}">ADMIN</option>
</select>
<br>

<table width="700px">
			<tr align="center" class="test">
				
				<th>이름</th>
				<th>이메일</th>
				<th>권한</th>
				<th>성별</th>
				<th>인증상태</th>
				<th><input type="checkbox" id="checkall"></th>
			</tr>
			<tr th:each="list : ${list}" align="center">
				
				<td th:text="${list.memberName}"></td>
				<td th:text="${list.id}"></td>
				<td th:text="${list.authority}"></td>
				<td th:text="${list.gender}"></td>
				<td th:text="${list.authStatus}==null?'NO':'OK'"></td>
				<td>
				<input type="checkbox" name="chk" th:id="${list.id}" 
				th:value="${list.authority}">
				</td>
			</tr>
				</table>
				<br>
				
				<div class="btns">
						     <!-- 검색 -->
            
			<form id='searchForm' action="/adminPage/adminPage" method='get'  style="float:left;">
				<select name='type'>
					<option value=""
					th:selected="${pageMaker.cri.type == null}">--</option>
					<option value="name"
					th:selected="${pageMaker.cri.type eq 'name'}">이름</option>
					<option value="email"
					th:selected="${pageMaker.cri.type eq 'email'}">이메일</option>
				</select> 
				<input type="hidden" name="auth" th:value="${auth}">
				<input type='text' name='keyword' th:value="${pageMaker.cri.keyword}"> 
						<button type="button" class='btn-primary' onclick="search()">Search</button>
						</form>
						
						
				<button class="btn btn-info waves-effect" onclick="changeAdmin()">관리자 임명</button>
				<button class="btn btn-info waves-effect" onclick="changeUser()">강등</button>
				<button class="btn btn-info waves-effect" onclick="location.href='/adminPage/adminPage?auth='">전체목록</button>
				</div>
				
				 <!-- 게시판 하단의 페이징 버튼 -->
            <div class="box-footer clearfix">
            
            
              <ul class="pagination pagination-sm no-margin pull-center">
              
              <li th:if="${pageMaker.prev} == true">
              	<a th:href="@{/adminPage/adminPage(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum},auth=${auth})}">&laquo;</a>
              </li>
              
              <li th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"  th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
                <a th:if="${idx}" th:href="@{/adminPage/adminPage(page=${idx},perPageNum=${pageMaker.cri.perPageNum},auth=${auth})}" th:text="${idx}"></a>
              </li>
                
              <li th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
              	<a th:href="@{/adminPage/adminPage(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum},auth=${auth})}">&raquo;</a>
              </li>
              
              </ul>
              
            </div>
           	
				
				<!-- 몰래 값전송하는 폼 -->
				<form id="frm">
				<input type="hidden" id="id" name="id">
				<input type="hidden" id="auth" name="auth">
				</form>
				
		
				
<!--Modal: confirmModal-->
<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <br/><br/><p id="modalName" class="heading"></p>
      </div>

      <!--Body-->
      <div class="modal-body">

 <a href="#" class="btn btn-primary btn-lg" id="secret" onclick="frmSubmit()">확인</a>
        <a href="#" class="btn btn-primary btn-lg" data-dismiss="modal">닫기</a>
        
      </div>
<br/>
      <!--Footer-->
      <div class="modal-footer flex-center">
       
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: confirmModal-->
</div>
				
			</div>	
			
</body>
</html>