<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/adminPage_layout">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>신규 게스트하우스 승인</title>
<style>
th{
text-align:center;
}
.test{
border-bottom: 1px solid gray;
}
tr {
    height: 60px;
}

</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">
<!-- 시큐리티 + 에이젝스 에러 방지 설정222 -->

var token = $("meta[name='_csrf']").attr("content");
var header = $("meta[name='_csrf_header']").attr("content");

$(function() {
	$(document).ajaxSend(function(e, xhr, options) {
		xhr.setRequestHeader(header, token);
	});
	
	
	
});

function showHostInfo(){
	
	var memberCode = event.srcElement.name;
	var today = new Date().toISOString().split("T")[0];
	var tomorrow = new Date((new Date()).valueOf() + 1000*3600*24).toISOString().split("T")[0];
	
	$.ajax({
		type : "POST",
		url : "getMemberInfo.do",
		data : memberCode,
		contentType : "application/json; charset=utf-8",
		dataType : "json",
		error : function(error) {
			console.log(error);
		},
		success : function(data) {
			var result="";
			console.log(today)
		 $(data).each(function(){
			if(this.status=='승인완료'){
				$("#noNow").hide();
			result+='<tr><td><a target="_blank" href="/room/roomInfo?guestHouseCode='
					+this.guestHouseCode+'&bookingStart='+today+'&bookingEnd='
					+tomorrow+'&bookingNumber=1">'
					+this.guestHouseName+"</a></td><td>"
					+this.approvalDate+"</td></tr>";
			}
		}); 
		$("#guestHouseList").html(result);
	 	$("#hostName").text(data[0].memberName);
		$("#hostId").text(data[0].id);
		$("#businessLicense").text(data[0].businessLicense);
		$("#infoModal").modal(); 
		
		
		}
	});
	
	
}

function showRejectModal(){
	var guestHouseCode = event.srcElement.name;
	
	$.ajax({
		type : "POST",
		url : "getRejectList.do",
		data : guestHouseCode,
		contentType : "application/json; charset=utf-8",
		dataType : "json",
		error : function(error) {
			console.log(error);
		},
		success : function(data) {
			var result="";
		$(data).each(function(){
			
				$("#noNow").hide();
			result+="<tr><td>"+this.rejectDate+"</td><td>"
					+this.rejectMsg+"</td></tr>";
			
		});
		$("#rejectList").html(result);
		$("#rejectModal").modal(); 
		
		
		}
	});
	
}
</script>
</head>
<body>
<div layout:fragment="adminPage_content">
<table width="700px">
			<tr align="center" class="test">
				
				<th>호스트</th>
				<th>상호명</th>
				<th>신청일</th>
				<th>신청내역</th>
				<th>상태</th>
			</tr>
			<tr th:each="list : ${list}" align="center" >
				
				<td><a href="#" style="text-decoration:none" th:name="${list.memberCode}" 
				onclick="showHostInfo()">
				[[${list.memberName}]]</a></td>
				<td th:text="${list.guestHouseName}"></td>
				<td th:text="${#dates.format(list.registerDate, 'yy.MM.dd')}"></td>
				<td><a th:href="@{'/adminPage/waitApproval?guestHouseCode='+${list.guestHouseCode}}" 
				target="_blank">보기</a></td>
				<td th:if="${list.status.equals('반려')}"><a href="#" onclick="showRejectModal()" 
				th:name="${list.guestHouseCode}">[[${list.status}]]</a></td>
				<td th:unless="${list.status.equals('반려')}">[[${list.status}]]</td>
			
			</tr>
				</table>
				
				<!--Modal-->
<div class="modal fade" id="infoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="d-flex justify-content-center">
        <br/><br/>
        <p class="test">호스트 정보</p> 

      </div>

      <!--Body-->
      <div class="modal-body">
		<table>
		<tr>
		<th>이름</th>
		<th id="hostName"></th>
		</tr>
		<tr>
		<th>아이디</th>
		<th id="hostId"></th>
		</tr>
		<tr>
		<th>사업자번호</th>
		<th id="businessLicense"></th>
		</tr>
		</table>
		<p class="test">운영 현황</p>
		<table id="guestHouseList" width="260px">
		
        </table>
        <p id="noNow">현재 운영중인 게스트하우스가 없습니다.</p>
        
      </div>
<br/>
      <!--Footer-->
      <div class="modal-footer flex-center">
       <a href="#" class="btn btn-primary btn-lg" data-dismiss="modal">닫기</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal-->
				
	<!--Reject Modal-->
<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="d-flex justify-content-center">
        <br/><br/>
        <p class="test">반려 이력</p> 
		
      </div>

      <!--Body-->
      <div class="modal-body">
		
		
		<table id="rejectList" width="270px">
		
        </table>
        
      </div>
<br/>
      <!--Footer-->
      <div class="modal-footer flex-center">
       <a href="#" class="btn btn-primary btn-lg" data-dismiss="modal">닫기</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal-->			
				
				</div>
</body>
</html>