<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/adminPage_layout">
<head>
<meta charset="UTF-8">
<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
<!-- default header name is X-CSRF-TOKEN -->
<meta id="_csrf_header" name="_csrf_header"
	th:content="${_csrf.headerName}" />
<title>신규 게스트하우스 승인</title>
<style>
th {
	text-align: center;
}

tr {
	height: 60px;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
	{
	background-color: #f0ebf1;
}

a.before#approvalHouse:before, a.after#approvalHouse:after {
	content: "";
	position: absolute;
	bottom: -0.25em;
	height: 0.35rem;
	width: 100%;
}
</style>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script th:inline="javascript">
<!-- 시큐리티 + 에이젝스 에러 방지 설정222 -->
	var token = $("meta[name='_csrf']").attr("content");
	var header = $("meta[name='_csrf_header']").attr("content");

	$(function() {
		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});

	});

	var result = "";
	var hiddenResult = "";

	function showHostInfo() {

		var memberCode = event.srcElement.name;
		var today = new Date().toISOString().split("T")[0];
		var tomorrow = new Date((new Date()).valueOf() + 1000 * 3600 * 24)
				.toISOString().split("T")[0];
		$("#menu1").html("");
		hiddenResult = "";

		$
				.ajax({
					type : "POST",
					url : "getMemberInfo.do",
					data : memberCode,
					contentType : "application/json; charset=utf-8",
					dataType : "json",
					error : function(error) {
						console.log(error);
					},
					success : function(data) {
						result = '<table id="guestHouseList" width="260px" style="margin-bottom: 14px;">';
						var cnt = 0;
						$(data)
								.each(
										function(index) {
											if (cnt < 5) {
												if (this.status == '승인완료') {
													$("#noNow").hide();
													result += '<tr><td><a target="_blank" href="/room/roomInfo?guestHouseCode='
															+ this.guestHouseCode
															+ '&bookingStart='
															+ today
															+ '&bookingEnd='
															+ tomorrow
															+ '&bookingNumber=1">'
															+ this.guestHouseName
															+ "</a></td><td>"
															+ new Date(
																	this.approvalDate)
																	.toISOString()
																	.split("T")[0]
															+ "</td></tr>";

													cnt++;
												}
											} else {
												if (cnt === 5) {
													result += '</table><button type="button" id="moreList" class="btn-primary" onclick="moreList()">전체목록보기</button>';
												}

												hiddenResult += '<tr><td><a target="_blank" href="/room/roomInfo?guestHouseCode='
														+ this.guestHouseCode
														+ '&bookingStart='
														+ today
														+ '&bookingEnd='
														+ tomorrow
														+ '&bookingNumber=1">'
														+ this.guestHouseName
														+ "</a></td><td>"
														+ new Date(
																this.approvalDate)
																.toISOString()
																.split("T")[0]
														+ "</td></tr>";
												cnt++;

											}

										});

						$("#menu1").html(result);
						$("#hostName").text(data[0].memberName);
						$("#hostId").text(data[0].id);
						$("#businessLicense").text(data[0].businessLicense);
						$("#infoModal").modal();

					}
				});

	}

	function moreList() {
		console.log(hiddenResult);
		$("#moreList").remove();
		$("#menu1").append(hiddenResult + '</table>');

	}
	function showRejectModal() {
		var guestHouseCode = event.srcElement.name;
		$.ajax({
			type : "POST",
			url : "getRejectList.do",
			data : guestHouseCode,
			contentType : "application/json; charset=utf-8",
			dataType : "json",
			error : function(error) {
				console.log(error);
			},
			success : function(data) {
				var result = "";
				$(data).each(
						function() {

							$("#noNow").hide();
							result += "<tr><td>" + this.rejectDate
									+ "</td><td>" + this.rejectMsg
									+ "</td></tr>";

						});
				$("#rejectList").html(result);
				$("#rejectModal").modal();

			}
		});

	}
</script>
</head>
<body>
	<div layout:fragment="adminPage_content">

		<table width="700px">
			<tr align="center" style="border-bottom: 2px solid lightgray;">

				<th>호스트</th>
				<th>상호명</th>
				<th>신청일</th>
				<th>신청내역</th>
				<th>상태</th>
			</tr>

			<tr th:each="list : ${list}" align="center">
				<td><a href="#" style="text-decoration: none"
					th:name="${list.memberCode}" onclick="showHostInfo()">
						[[${list.memberName}]]</a></td>
				<td th:text="${list.guestHouseName}"></td>
				<td th:text="${#dates.format(list.registerDate, 'yy.MM.dd')}"></td>
				<td><a th:if="${list.status.equals('승인대기')}"
					th:href="@{'/adminPage/waitApproval?guestHouseCode='+${list.guestHouseCode}+
				'&bookingStart='+${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}+
				'&bookingEnd='+${tomorrow}+'&bookingNumber=1'}"
					target="_blank">보기</a> <span style="color: tomato;"
					th:text="${list.fifthReject}"></span></td>
				<td th:if="${list.status.equals('반려')}">반려중<a
					class="fa fa-file-text" href="#"
					style="font-size: 18px; margin-left: 3px; color: chocolate;"
					th:name="${list.guestHouseCode}" onclick="showRejectModal()"></a></td>
				<td th:unless="${list.status.equals('반려')}">[[${list.status}]]</td>

			</tr>
		</table>

		<!-- 게시판 하단의 페이징 버튼 -->
		<div class="box-footer clearfix" style="padding-left: 357px">
			<ul class="pagination pagination-sm no-margin pull-center">

				<li th:if="${pageMaker.prev} == true"><a
					th:href="@{/adminPage/approvalHouse(page=${pageMaker.startPage}-1,perPageNum=${pageMaker.cri.perPageNum})}">&laquo;</a>
				</li>

				<li
					th:each="idx,iterStat : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}"
					th:classappend="${pageMaker.cri.page} == ${idx} ? active : null">
					<a
					th:href="@{/adminPage/approvalHouse(page=${idx},perPageNum=${pageMaker.cri.perPageNum})}"
					th:text="${idx}"></a>
				</li>

				<li th:if="${pageMaker.next} == true and ${pageMaker.endPage > 0}">
					<a
					th:href="@{/adminPage/approvalHouse(page=${pageMaker.endPage}+1,perPageNum=${pageMaker.cri.perPageNum})}">&raquo;</a>
				</li>

			</ul>

		</div>



		<!--호스트 상세 : Modal-->

		<div class="modal fade" id="infoModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">

			<div class="modal-dialog modal-sm modal-notify modal-danger"
				role="document">

				<!--Content-->
				<div class="modal-content text-center">

					<!--Header-->
					<div class="d-flex justify-content-center"
						style="padding-top: 26px;">
						<img src="https://image.flaticon.com/icons/svg/236/236830.svg"
							width="70px" height="70px">
						<p style="font-size: 24px; margin-bottom: 0;">호스트 상세</p>
					</div>
					<!-- /Header -->

					<!--Body-->

					<div class="modal-body">

						<ul class="nav nav-tabs">
							<li class="active"><a data-toggle="tab" href="#home">호스트정보</a></li>
							<li><a data-toggle="tab" href="#menu1">운영현황</a></li>
						</ul>

						<div class="tab-content">
							<!-- 객실안내/예약탭  -->
							<div id="home" class="tab-pane active">
								<table width="278px">
									<tr>
										<th>이름</th>
										<th id="hostName"></th>
									</tr>
									<tr>
										<th>아이디</th>
										<th id="hostId"></th>
									</tr>
									<tr>
										<th>사업자번호</th>
										<th id="businessLicense"></th>
									</tr>
								</table>
							</div>
							<div id="menu1" class="tab-pane ">


								<p id="noNow">현재 운영중인 게스트하우스가 없습니다.</p>


							</div>


						</div>
						<!-- /tab-content -->


						<br />
						<!--Footer-->
						<div class="modal-footer flex-center" style="padding-bottom: 0px;">
							<a href="#" class="btn btn-primary btn-lg" data-dismiss="modal">닫기</a>
						</div>
					</div>
					<!--/.Modal-body-->
				</div>
			</div>
		</div>
		<!--호스트 상세 : Modal-->

		<!--Reject Modal-->
		<div class="modal fade" id="rejectModal" tabindex="-1" role="dialog"
			aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog modal-sm modal-notify modal-danger"
				role="document" style="width: 380px;">
				<!--Content-->
				<div class="modal-content text-center">
					<!--Header-->
					<div class="d-flex justify-content-center"
						style="padding-top: 31px;">

						<img src="https://image.flaticon.com/icons/svg/1477/1477589.svg"
							width="70px" height="70px">
						<p style="padding-top: 14px; font-size: 24px;">반려 이력</p>

					</div>

					<!--Body-->
					<div class="modal-body">


						<table id="rejectList" width="360px">

						</table>

					</div>
					<!--Footer-->
					<div class="modal-footer flex-center">
						<a href="#" class="btn btn-primary btn-lg" data-dismiss="modal">닫기</a>
					</div>
				</div>
				<!--/.Content-->
			</div>
		</div>
		<!--Modal-->

	</div>


</body>
</html>