@charset "UTF-8";
	.jcontent{
	    width: 1024px;
	    margin: 112px 200px 100px 150px;
	}
    .swiper-container .gallery-top {
      background: #000;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 33%;
      height: 450px;
      margin-left: auto;
      margin-right: auto;
    }
    .swiper-slide {
      background-size: cover;
      background-position: center;
      width:368px;
    }
    .gallery-top {
      height: 100%;
      width: 30%;
    }
    .gallery-thumbs {
      height: 20%;
      width: 600px;
      box-sizing: border-box;
      padding: 10px 0;
    }
    .gallery-thumbs .swiper-slide {
      height: 100%;
      opacity: 0.4;
    }
    .gallery-thumbs .swiper-slide-thumb-active {
      opacity: 1;
    }

	.top-container{
		 width: 100%;
 		 height: 570px;
 		 position: relative;
 		 margin-left: 78px;
	}
	.left{
		float: left;
		width: 50%;
		height: 450px;
		position: relative;
	}
	.right{
		width:50%;
		float:left;
		height: 450px;
		position: relative;
		left: 19%;
	}
	}
	.right h2{
		font-size: 28px;
	}
  	.picker {
		margin-top: 20px;
	} 
	.content-text{
		padding: 3px 3px;
	}
	.container{
		margin-left: 78px;

	}
	textarea {
    overflow: auto;
	width: 100%;
	resize: none;
	height: 130px;
	
	}
	
	.roomInfo {
		display:block;
	  	float:center;
	  	width: 100%;
	 	 height:auto;
	}
	.tag>ul{
		padding: 0;
	
	}
	#menu1>ul {
		padding:0;
	}
	#menu1>ul>li{
		display: inline-block;
	}
	#menu2>ul {
		padding:0;
		list-style: none;
	}
	#menu2>p{
		text-align: center;
	}
	#menu1>ul>li>img{
		height: 35px;
		width: 35px;
		margin: 0px 5px
	
	}
	.tag>ul>li{
		display: inline-block;
	}
	.tag>ul>li>img{
		width: 45px;
		height: 45px;
		margin: 0px 10px
	
	}

	.panel a#login_pop, .panel a#join_pop {
		border-bottom: 1px solid #c3c3c3;
	    background-color: #c8a9ff;
	    color: #fff;
	    display: block;
	    float: left;
	    margin-left: 10px;
	    padding: 5px 10px;
	    text-decoration: none;
	}	

	.overlay {
	    background-color: rgba(0, 0, 0, 0.6);
	    bottom: 0;
	    cursor: default;
	    left: 0;
	    opacity: 0;
	    position: fixed;
	    right: 0;
	    top: 0;
	    visibility: hidden;
	    z-index: 1;
	
	    -webkit-transition: opacity .5s;
	    -moz-transition: opacity .5s;
	    -ms-transition: opacity .5s;
	    -o-transition: opacity .5s;
	    transition: opacity .5s;
	}
	.overlay:target {
	    visibility: visible;
	    opacity: 1;
	}
	.popup {
	    background-color: #fff;
	    border: 3px solid #fff;
	    display: inline-block;
	    left: 50%;
	    opacity: 0;
	    padding: 15px;
	    position: fixed;
	    text-align: justify;
	    top: 40%;
	    visibility: hidden;
	    z-index: 10;
	
	    -webkit-transform: translate(-50%, -50%);
	    -moz-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	    -o-transform: translate(-50%, -50%);
	    transform: translate(-50%, -50%);
	
	    -webkit-border-radius: 10px;
	    -moz-border-radius: 10px;
	    -ms-border-radius: 10px;
	    -o-border-radius: 10px;
	    border-radius: 10px;
	
	    -webkit-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	    -moz-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	    -ms-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	    -o-box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	    box-shadow: 0 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
	
	    -webkit-transition: opacity .5s, top .5s;
	    -moz-transition: opacity .5s, top .5s;
	    -ms-transition: opacity .5s, top .5s;
	    -o-transition: opacity .5s, top .5s;
	    transition: opacity .5s, top .5s;
	}
	.overlay:target+.popup {
	    top: 50%;
	    opacity: 1;
	    visibility: visible;
	}
	.close {
	    background-color: rgba(0, 0, 0, 0.8);
	    height: 30px;
	    line-height: 30px;
	    position: absolute;
	    right: 0;
	    text-align: center;
	    text-decoration: none;
	    top: -15px;
	    width: 30px;
	
	    -webkit-border-radius: 15px;
	    -moz-border-radius: 15px;
	    -ms-border-radius: 15px;
	    -o-border-radius: 15px;
	    border-radius: 15px;
	}
	.close:before {
	    color: rgba(255, 255, 255, 0.9);
	    content: "X";
	    font-size: 24px;
	    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
	}
	.close:hover {
	    background-color: rgba(64, 128, 128, 0.8);
	}
	.popup p, .popup div {
	    margin-bottom: 10px;
	}
	.popup label {
	    display: inline-block;
	    text-align: left;
	    width: 120px;
	}
	.popup input[type="text"], .popup input[type="password"] {
	    border: 1px solid;
	    border-color: #999 #ccc #ccc;
	    margin: 0;
	    padding: 2px;
	    -webkit-border-radius: 2px;
	    -moz-border-radius: 2px;
	    -ms-border-radius: 2px;
	    -o-border-radius: 2px;
	    border-radius: 2px;
	}
	.popup input[type="text"]:hover, .popup input[type="password"]:hover {
	    border-color: #555 #888 #888;
	}
	.rInfo{
	display: inline-block;
	position: absolute;
	}
	
	/* 별점 */
	.star-input>.input {
		display: inline-block;
		vertical-align: middle;
		background: url('/img/grade_img.png');
	}
	
	.star-input {
		display: inline-block;
		white-space: nowrap;
		width:100%;
		height: 40px;
		line-height: 30px;
	}
	
	.star-input>.input {
		display: inline-block;
		width: 150px;
		background-size: 150px;
		height: 28px;
		white-space: nowrap;
		overflow: hidden;
		position: relative;
	}
	
	.star-input>.input>input {
		position: absolute;
		width: 1px;
		height: 1px;
		opacity: 1;
	}
	
	
	.star-input>.input>label {
		width: 30px;
		height: 0;
		padding: 28px 0 0 0;
		overflow: hidden;
		float: left;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	.star-input>.input>label[for="p1"]   {
		width: 30px;
		z-index: 5;
	}
	
	.star-input>.input>label[for="p2"] {
		width: 60px;
		z-index: 4;
	}
	
	.star-input>.input>label[for="p3"] {
		width: 90px;
		z-index: 3;
	}
	
	.star-input>.input>label[for="p4"] {
		width: 120px;
		z-index: 2;
	}
	
	.star-input>.input>label[for="p5"] {
		width: 150px;
		z-index: 1;
	}
	
	.star-input>.input>label[for="p11"]   {
		width: 30px;
		z-index: 5;
	}
	.star-input>.input>label[for="p22"]   {
		width: 60px;
		z-index:4;
	}
	.star-input>.input>label[for="p33"]   {
		width: 90px;
		z-index: 3;
	}
	.star-input>.input>label[for="p44"]   {
		width: 120px;
		z-index:2;
	}
	.star-input>.input>label[for="p55"]   {
		width: 150px;
		z-index: 1;
	}
	.off-screen {
	    display: none;
	}
	form {
	    width: 500px;
	}
	.off-screen {
	    display: none;
	}
	#nav {
	    width: 500px;
	    text-align: center;
	}
	#nav a {
	    display: inline-block;
	    padding: 3px 5px;
	    margin-right: 10px;
	    font-family:Tahoma;
	    background: #ccc;
	    color: #000;
	    text-decoration: none;
	}
	#nav a.active {
	    background: #333;
	    color: #fff;
	}
	.pagination {
	    display: inline-block;
	    width: 100%;
	    padding-left: 40%;
	    margin: 20px 0;
	    border-radius: 4px;
	}
	.dashicons-heart:before {
	    content: "\f487";
	    display: block;
	    transform: scale(2.0);
	}
	.row{
	font-size: 20px;
	}
	.row>span{
		float: right;
	}    
	#login_pop  {
	    width: 500px;
	    margin-left: 0;
	    text-align: left;
	   background-color: white;
	   color: black;
	}
	a.infobtn   {
	    margin: 0;
	    background: white url(//image.goodchoice.kr/images/web_v3/ico_arr_gt_2.png) 100% 50% no-repeat;
	    color: black;
	    background-size: 18px auto;
	}
	
	
	@media(max-width:900px){

	.jcontent{
	margin :0px;
	} 
	
	.left{
	float: none;
	position: relative;
	}
	.right{
	float: none;
	position: relative;
	left:0;
	}
	.gallery-thumbs {

    display: none;
	}
	.top-container{
	height:auto;
	}
	
	}