<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/main_layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>예약하기</title>
		<script src="http://code.jquery.com/jquery-latest.min.js"></script>
		<!-- iamport.payment.js -->
		<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>	
		<style>
			.display_left {
				width: 50%;
				height: 100%;
				float: left;
			}
			
			.display_right {
				width: 50%;
				height: 100%;
				float: right;
			}
			
			.input-box {
				padding: 0 20px;
			}
			
			/* The Modal (background) */
			.modal {
	            display: none; /* Hidden by default */
	            position: fixed; /* Stay in place */
	            z-index: 1; /* Sit on top */
	            left: 0;
	            top: 0;
	            width: 100%; /* Full width */
	            height: 100%; /* Full height */
	            overflow: auto; /* Enable scroll if needed */
	            background-color: rgb(0,0,0); /* Fallback color */
	            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	        }
	    
	        /* Modal Content/Box */
	        .modal-content {
	            background-color: #fefefe;
	            margin: 15% auto; /* 15% from the top and centered */
	            padding: 30px;
	            border: 1px solid #888;
	            width: 35%; /* Could be more or less, depending on screen size */                          
	        }
	        /* The Close Button */
	        .close {
	            color: #aaa;
	            float: right;
	            font-size: 28px;
	            font-weight: bold;
	        }
	        .close:hover,
	        .close:focus {
	            color: black;
	            text-decoration: none;
	            cursor: pointer;
	        }
			
			p {
				font-weight: bold;
			}
			
			h4 {
				margin: 20px 0;
				font-weight: bold;
			}
			
			.inputLabel {
				display: block;
			}
			
			.checkValue_label {
				display: none; 
				color: red;
			}
			
			li>span {
				color: red;
			}
			
			td {
				font-size: 13px;
			}
		</style>
	</head>
	<body>
		<div layout:fragment="content"   style="width: 100%; height: 100%;">
			<form th:action="@{/booking/bookingComplete}" id="bookingForm" method="post">
				<div class="display_left">
					<div class="input-box">
						<h4>예약자 정보</h4>
						<input type="hidden" name="memberCode" th:value="${appliedBookingInfo.memberCode}">
						
						<label class="inputLabel">예약자 이름<br>
						<input class="inputLine" type="text" name="booker" onkeyup="name_checkValue_reg(this.value)"></label>
						<label class="nullCheck_label checkValue_label">이름을 입력해주세요.</label>
						<label id="name_regCheck_label" class="checkValue_label">형식에 맞게 이름을 작성해주세요</label>
						<br>
				
						
						<label class="inputLabel">예약자 이메일<br>
						<input class="inputLine" type="text" name="bookerEmail" onkeyup="email_checkValue_reg(this.value)"></label>
						<label class="nullCheck_label checkValue_label">이메일을 입력해주세요.</label>		
						<label id="email_regCheck_label" class="checkValue_label">형식에 맞게 이메일을 작성해주세요</label>				
						<br>
						
						<label class="inputLabel">예약자 연락처<br>
						<input class="inputLine" type="text" name="bookerContact" onkeyup="contact_checkValue_reg(this.value)"></label>
						<label class="nullCheck_label checkValue_label">연락처를 입력해주세요.</label>
						<label id="contact_regCheck_label" class="checkValue_label">형식에 맞게 연락처를 작성해주세요</label>
						<br>
					</div>
					
					<div class="input-box">
						<h4>결제수단 선택</h4>
						
						<select name="paymentMethod">
							<option value="카드결제">카드결제(신용, 체크)</option>
							<option value="휴대폰결제">휴대폰결제</option>
						</select>
					</div>
					<br><br>
					
					<div class="input-box">
						<label style="font-weight: bold" for="allCheck">전체 동의</label>
						<input type="checkbox" id="allCheck"><br>
						
						<label for="useRules">숙소이용규칙 및 취소/환불규정 동의(필수)</label>
						<input type="checkbox" id="useRules"><br>
						
						<!-- useRules Modal -->
						<div id="useRulesModal" class="modal">
						
							<!-- Modal content -->
							<div class="modal-content">
								<span id="useRulesModalClose" class="close">&times;</span>
								<p style="font-size: 18px;">숙소이용규칙 및 취소/환불규정</p>
								<p>이용규칙</p>
								<ul>
									<li> 최대 인원 초과시 입실 불가합니다. </li>
									<li> 정원 기준 요금 외 인원추가 여금은 현장결제입니다. </li>
									<li> 제공 이미지는 배정된 객실과 다를 수 있습니다. </li>
									<li> 제공 정보는 숙소의 사정에 따라 변경될 수 있습니다. </li>
									<li> 미성년자는 보호자 동반 시 투숙이 가능합니다. </li>
									<li> 반려동물은 숙소 규정에 따라 출입이 제한 되오니 숙소별 상세정보를 꼭 확인해 주세요 </li>
									<li> 시즌 별 객실 가격 상이하오니 확인바랍니다. </li>
									<li> 업체 현장에서 객실 컨디션 및 서비스로 인해 발생된 분쟁은 #GEHA에서 책임지지 않습니다. </li>
								</ul>
								<p>취소/환불규정</p>
								<ul>
									<li> 숙소 사정에 의해 취소 발생시 100% 환불이 가능합니다. </li>
									<li> 예약 상품별 숙소 정보에 기재된 <span>취소, 환불규정을 반드시 환인 후 이용해주시기 바랍니다.</span> </li>
									<li> 예약 이후의 취소는  <span>취소/환불 규정에 의거</span>하여 적용됩니다.</li>
									<li> 취소, 변경 불가 상품은 규정과 상관없이 <span>취소, 변경이 불가</span>합니다. </li>
									<li> <span>당일 결제를 포함한 체크인 당일 취소는 취소, 변경이 불가</span>합니다. </li>
									<li> 전월 휴대폰 결제 건은 단순 변심의 사유로 예약취소할 경우, 취소 규정외에 <span>환불 수수료 5%</span>가 발생합니다. </li>
									<li> 단, 숙소의 객실 정보가 수시로 변경될 수 있으며 이로 인한 불익은 #GEHA에서 책임지지 않습니다. </li>
								</ul>
							</div>
						</div>
						
						<label for="personalInfoCollection">개인정보 수집 및 이용 동의(필수)</label>
						<input type="checkbox" id="personalInfoCollection"><br>
						
						<!-- personalInfoCollection Modal -->
						<div id="personalInfoCollectionModal" class="modal">
						
							<!-- Modal content -->
							<div class="modal-content">
								<span id="personalInfoCollectionModalClose" class="close">&times;</span>
								<p style="font-size: 18px;">개인정보 수집 및 이용</p>
								<ul>
									<li> "#GEHA" 개인정보 수집 이용 목적 및 항목, 보유기간은 아래와 같습니다. </li>
									<li> "회원"은 정보 수집/이용 약관에 동의하지 않을 수 있으며, 동의하지 않는 경우 예약 서비스 이용에 제한이 있을 수 있습니다. </li>
								</ul>
								<table border="2">
									<tr>
										<th>수집/이용 목적</th>
										<th>위탁 업무 내용</th>
										<th>개인 정보의 보유 및 이용 기간</th>
									</tr>
									<tr>
										<td>예약 서비스 이용</td>
										<td>예약자명, 휴대폰 번호, 결제 정보</td>
										<td>전자상거래 상 소비자 보호에 관한 법률에 따라 5년간 보관</td>
									</tr>
									<tr>
										<td>결제 서비스 이용</td>
										<td>- 신용카드 결제: 카드사명, 카드번호, 유효기간, 이메일등<br> - 휴대폰 결제: 휴대폰 번호, 통신사, 결제 승인번호 등</td>
										<td>전자상거래 상 소비자 보호에 관한 법률에 따라 5년간 보관</td>
									</tr>
									<tr>
										<td>서비스 이용 및 부정거래 기록 확인</td>
										<td>서비스 이용 시간/이용 기록, 접속 로그, 이용 콘텐츠, 쿠키, 접속IP정보, 주소, 사용된 신용카드 정보, 기기 모델명, 브라우저 정보</td>
										<td>통신비밀보호법에 따라 3개월간 보관</td>
									</tr>
								</table>
							</div>
						</div>
						
						<label for="personalInfoProvision">개인정보 제 3자 제공 동의(필수)</label>
						<input type="checkbox" id="personalInfoProvision"><br>
						
						<!-- personalInfoProvision Modal -->
						<div id="personalInfoProvisionModal" class="modal">
						
							<!-- Modal content -->
							<div class="modal-content">
								<span id="personalInfoProvisionModalClose" class="close">&times;</span>
								<p style="font-size: 18px;">개인정보 제 3자 제공 동의</p>
								<ul>
									<li> "#GEHA" 개인정보 수집 이용 목적 및 항목, 보유기간은 아래와 같습니다. </li>
									<li> "회원"은 정보 수집/이용 약관에 동의하지 않을 수 있으며, 동의하지 않는 경우 예약 서비스 이용에 제한이 있을 수 있습니다. </li>
								</ul>
								<table border="2">
									<tr>
										<th>제공받는 자</th>
										<td>[[${appliedBookingInfo.guestHouseName}]]</td>
									</tr>
									<tr>
										<th>제공 목적</th>
										<td>숙박예약서비스 이용계약 이행(서비스 제공, 확인, 이용자 정보 확인)</td>
									</tr>
									<tr>
										<th>제공하는 정보</th>
										<td>예약한 숙박 서비스의 이용자 정보(예약자 이름, 휴대폰번호, 예약번호, 예약한 업체명, 예약한 객실명, 결제금액)</td>
									</tr>
									<tr>
										<th>제공받는 자의 개인정보 보유 및 이용기간</th>
										<td>예약서비스 제공 완료 후 6개월</td>
									</tr>
								</table>
							</div>
						</div>
					</div>
					
				</div>
				
				<div class="display_right">			
					
					<div class="input-box">
						<h4>숙소정보</h4>
						<input type="hidden" name="roomCode" th:value="${#numbers.formatInteger(appliedBookingInfo.roomDto.roomCode, 3, 'COMMA')}">
						<input type="hidden" name="bookingNumber" th:value="${appliedBookingInfo.bookingNumber}">
						
						<label>숙소이름</label><br>
						<label>[[${appliedBookingInfo.guestHouseName}]]</label>
						<input type="hidden" name="guestHouseName" th:value="${appliedBookingInfo.guestHouseName}"><br><br>
						
						<label>객실타입/기간</label><br>
						<label>[[${appliedBookingInfo.roomDto.roomName}]] / </label>
						<input type="hidden" name="roomName" th:value="${appliedBookingInfo.roomDto.roomName}">
						<label id="diffDay"></label><br><br>
						
						<label>입실 예정일</label><br>
						<label>[[${#dates.format(appliedBookingInfo.bookingStart, 'yy.MM.dd E')}]]</label> 14:00 <br><br>
						<input type="hidden" name="bookingStart" th:value="${#dates.format(appliedBookingInfo.bookingStart, 'yyyy-MM-dd')}">
						
						<label>퇴실 예정일</label><br>
						<label>[[${#dates.format(appliedBookingInfo.bookingEnd, 'yy.MM.dd E')}]]</label> 11: 00 <br><br>
						<input type="hidden" name="bookingEnd" th:value="${#dates.format(appliedBookingInfo.bookingEnd, 'yyyy-MM-dd')}">
						
						<label>총 결제 금액(VAT포함)</label><br>
						<label id="paymentAmount"></label>
						<input type="hidden" name="paymentAmount">원<br><br>

						<input type="hidden" name="approvalNumber" >
						<input id="paymentBtn" type="button" value="결제하기">
					</div>
				</div>
				
				
				<!-- booking confirm Modal -->
				<div id="bookingConfirmModal" class="modal">
				
					<!-- Modal content -->
					<div class="modal-content">
						<span id="bookingConfirmModalClose" class="close">&times;</span>
						<p>예약 확인</p>
						<p>게스트하우스 이름 : [[${appliedBookingInfo.guestHouseName}]]</p>
						<p>예약하실 방 이름 : [[${appliedBookingInfo.roomDto.roomName}]]</p>
						<p id="diffDay_p"></p>
						<p><label id="bookingStart">입실 예정일 : </label>
						<label>[[${#dates.format(appliedBookingInfo.bookingStart, 'yy.MM.dd E')}]] 14:00 </label></p>
						<p><label id="bookingEnd">퇴실 예정일 : </label>
						<label>[[${#dates.format(appliedBookingInfo.bookingEnd, 'yy.MM.dd E')}]] 11:00 </label></p>
						<ul>
							<li> 해당 숙소는 예약 대기상태이며, 숙소의 확인 후 예약 확정 여부가 문자로 발송됩니다. </li>
							<li> 숙소의사정으로 예약 불가능할 경우 결제된 금액은 자동 취소됩니다. </li>
							<li> 취소 및 환불은 해당 숙소의 규정에 따라 다릅니다. </li>
						</ul>
						<input type="button" id="callPaymentApi" value="결제하기">
					</div>
				</div>
			</form>
			
			
			<!-- agreements confirm Modal -->
			<div id="agreementsConfirmModal" class="modal">
			
				<!-- Modal content -->
				<div class="modal-content">
					<p>필수 동의사항을 체크해주세요.</p>
					<button onclick="$('#agreementsConfirmModal').css('display', 'none')">확인</button>
				</div>
			</div>
		</div>
		
			
		
		<div layout:fragment="script">
			<script th:inline="javascript" type="text/javascript">
				//사용규칙 모달
				var useRulesModal = document.getElementById('useRulesModal');
				//개인정보수집 모달
				var personalInfoCollectionModal = document.getElementById('personalInfoCollectionModal');
				//개인정보제공 모달
				var personalInfoProvisionModal = document.getElementById('personalInfoProvisionModal');
				//예약확인 모달
			    var bookingConfirmModal = document.getElementById('bookingConfirmModal');
			    //예약하기 화면- 결제하기
			    var paymentBtn = document.getElementById("paymentBtn");
			    //모든 모달창의 닫기버튼
			    var closeSpan = document.getElementsByClassName("close");     	
			    
			    
			    $(document).ready(function() {
			    	var bookingStart = new Date([[${appliedBookingInfo.bookingStart}]]);
			    	var bookingEnd = new Date([[${appliedBookingInfo.bookingEnd}]]);
			    	
			    	//날짜 일 차이 구하기
			    	var diffDay = (bookingEnd.getTime() - bookingStart.getTime()) / (1000*60*60*24);
			    	var charge = [[${appliedBookingInfo.roomDto.charge * appliedBookingInfo.bookingNumber}]] * diffDay;
			    	
			    	$("#diffDay").text(diffDay + "박");
			    	$("#diffDay_p").text("기간 : " + diffDay + "박 " + (diffDay+1) + "일");
			    	
			    	
			    	$("#paymentAmount").text(charge.toLocaleString());
			    	$("input[name=paymentAmount]").val(charge);
			    })
			
			
				//체크박스 전체동의 및 동의상세정보 모달창 띄우기
				$(function() {
					$("input[type=checkbox]").click(function() {
						if(this.id == "allCheck") {
							//만약 전체 선택 체크박스가 체크된 상태일 경우
							if($("#allCheck").prop("checked")) {
								//해당화면 전체 checkbox들을 체크해준다.
								$("input[type=checkbox]").prop("checked", true);
							//전체선택 체크박스가 해제된 경우
							} else {
								//해당화면에 모든 checkbox들의 체크를 해제시킨다.
								$("input[type=checkbox]").prop("checked", false);
							}
						} else if(this.id == "useRules" && $(this).is(':checked')) { //숙소이용규칙 및 취소/환불규정 동의 클릭 시
							useRulesModal.style.display = "block";
						} else if(this.id == "personalInfoCollection" && $(this).is(':checked')) { //개인정보 수집 및 이용 동의 클릭 시
							personalInfoCollectionModal.style.display = "block";
						} else if(this.id == "personalInfoProvision" && $(this).is(':checked')) { //개인정보 제 3자 제공 동의 클릭 시
							personalInfoProvisionModal.style.display = "block";
						}
					})
				})                                     
			
			    //예약하기 화면- 결제하기 클릭 시 예약정보 확인 모달 띄우기
			    paymentBtn.onclick = function() {
			    	if(checkInputValue()) {
			    		console.log("유효한 값이 아님");
			    	} else {
			    		console.log("유효한 값이 맞음");
				    	bookingConfirmModal.style.display = "block";
			    	}
			    }
			    
			    function checkInputValue() {
 			    	if($('input[name=booker]').val()=="" || $('input[name=bookerEmail]').val()=="" || $('input[name=bookerContact]').val()=="") {
 			    		for(var i=$('.inputLine').length-1; i>=0; i--) {
 			    			var inputLine = $('.inputLine').get(i);
 			    			var nullCheckLabel = $('.nullCheck_label')[i];
 			    			
 			    			if($(inputLine).val()=="") {
		 			    		$(nullCheckLabel).css("display", "block");
		 			    		$(inputLine).focus();
 			    			} else {
		 			    		$(nullCheckLabel).css("display", "none");
 			    			}
 			    		}
 			    	}
			    	
 			    	
 			    	for(var i=0; i<$('.checkValue_label').length; i++) {
	 			    	var checkValue_label = $('.checkValue_label')[i];
 			    		if($(checkValue_label).css('display')=='block') {
 			    			return true;
 			    		}
 			    	}
 			    	
 			    	
 			    	for(var i=0; i<$('input[type=checkbox]').length; i++) {
 			    		var checkbox = $('input[type=checkbox]')[i];
 			    		
 			    		if(checkbox.id!='allCheck' && !($(checkbox).is(':checked'))){
 			    			$('#agreementsConfirmModal').css('display', 'block');
 			    			return true;
 			    		}
 			    	}
 			    	
			    	return false;
			    }
			    
			    //이름 유효성 체크
			    function name_checkValue_reg(value) {
			    	var reg_name = /^[가-힣]{2,4}|[a-zA-Z]{2,10}\s[a-zA-Z]{2,10}$/; // 한글 또는 영문 (혼용X)
			    	
			    	$('#name_regCheck_label').prev().css("display", "none");
			    	
			    	if(!reg_name.test(value)) $('#name_regCheck_label').css("display", "block");
			    	else $('#name_regCheck_label').css("display", "none");
			    	
			    	if(value=="") $('#name_regCheck_label').css("display", "none");
			    }
			    
			    //이메일 유효성 체크
			    function email_checkValue_reg(value) {
			    	var reg_email = /^[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[@]{1}[-A-Za-z0-9_]+[-A-Za-z0-9_.]*[.]{1}[A-Za-z]{1,5}$/;
			    	
			    	$('#email_regCheck_label').prev().css("display", "none");
			    	
			    	if(!reg_email.test(value)) $('#email_regCheck_label').css("display", "block");
			    	else $('#email_regCheck_label').css("display", "none");
			    	
			    	if(value=="") $('#email_regCheck_label').css("display", "none");
			    }
			    
			    
			    //연락처 유효성 체크
			    function contact_checkValue_reg(value) {
			    	var reg_contact = /^\d{2,3}-\d{3,4}-\d{4}$/;
			    	
			    	$('#contact_regCheck_label').prev().css("display", "none");
			    	
			    	if(!reg_contact.test(value)) $('#contact_regCheck_label').css("display", "block");
			    	else $('#contact_regCheck_label').css("display", "none");
			    	
			    	if(value=="") $('#contact_regCheck_label').css("display", "none");
			    }
			    
			
			    //모달 창 닫기버튼 클릭 시
			    for(var i=0; i<closeSpan.length; i++) {
				    closeSpan[i].onclick = function() {
				    	if(this.id == "useRulesModalClose") {
				    		useRulesModal.style.display = "none";
				    	} else if(this.id == "personalInfoCollectionModalClose") {
				    		personalInfoCollectionModal.style.display = "none";
				    	} else if(this.id == "personalInfoProvisionModalClose") {
				    		personalInfoProvisionModal.style.display = "none";
				    	} else {
				    		bookingConfirmModal.style.display = "none";
				    	}
				    	
				    }
			    }
			
			    // 예약정보 확인 모달창 띄우고 있을 때 모달창 외의 화면 클릭 시 닫기효과
			    window.onclick = function(event) {
			        if (event.target == bookingConfirmModal) {
			        	bookingConfirmModal.style.display = "none";
			        }
			    }
			    
			   
			</script>
			
			<script th:inline="javascript" type="text/javascript">
				IMP.init("imp33676520");	//가맹점 식별코드
			
			    //현재 날짜구하기 (예약상품코드 값)
			    var date = new Date();
				var year = date.getFullYear().toString().substr(2,2);
				var month = date.getMonth()+1;
				var day = date.getDate();
				var hours = date.getHours();
				var minutes = date.getMinutes();
				var seconds = date.getSeconds();
				var today = year + month + day + hours + minutes + seconds;
				
			 	$(function() {
			    	$("#callPaymentApi").click(function(e) {
			    		e.preventDefault();
			    		
			    		// IMP.request_pay(param, callback) 호출
						IMP.request_pay({ // param
						    pay_method: "card",
						    merchant_uid: [[${appliedBookingInfo.roomDto.roomCode}]]+"-"+today,
						    name: [[${appliedBookingInfo.guestHouseName}]]+"/"+[[${appliedBookingInfo.roomDto.roomName}]],
						    amount: 100,
						    buyer_email: $("input[name='bookerEmail']").val(),
						    buyer_name: $("input[name='booker']").val(),
						    buyer_tel: $("input[name='bookerContact']").val()
						}, function (rsp) { // callback
						    if (rsp.success) {	// 결제 성공 시: 결제 승인 또는 가상계좌 발급에 성공한 경우
						        // 결제 성공 시 로직,
					        	var msg = '결제가 완료되었습니다.';
					            msg += '고유ID : ' + rsp.imp_uid;
					            msg += '상점 거래ID : ' + rsp.merchant_uid;
					            msg += '결제 금액 : ' + rsp.paid_amount;
					            msg += '카드 승인번호 : ' + rsp.apply_num;
					            msg += '예약자 이메일 : ' + rsp.buyer_email;
					            msg += '예약자 번호 : ' + rsp.buyer_tel;
					            //alert(msg);
					            
					            $("input[name='approvalNumber']").prop("value", rsp.apply_num);
					            $("#bookingForm").submit();
					            
						    } else {
						        // 결제 실패 시 로직,
						    	alert("결제에 실패하였습니다. 에러 내용: " +  rsp.error_msg);
					           	alert(msg);
						    }
						});
			    	})
			    })
			</script>
		</div>
	</body>	
</html>