<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="fragments/main_layout">
<head>
<meta charset="UTF-8">
<title>Access Denied!</title>
<style>
header {
	min-height: 12%;
}
</style>
</head>
<body>
	<div layout:fragment="content">
		<div
			style="height: 432px; text-align: center; background-color: lavender; padding-top: 62px;">
			<img src="https://image.flaticon.com/icons/svg/1439/1439895.svg"
				width="200px"> <br><h1>Error : 유효하지 않은 경로입니다.</h1>
				<h2 style="color:tomato;">Access Denied Page</h2>
		</div>
	</div>
</body>
</html>