<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="fragments/myPage_layout">

<head>
	<!-- 시큐리티 + 에이젝스 에러 방지 설정 -->
	<meta id="_csrf" name="_csrf" th:content="${_csrf.token}" />
	<!-- default header name is X-CSRF-TOKEN -->
	<meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}" />

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>GEHA-방찾기</title>

	<!-- jquery ui-->
	<link rel="stylesheet" href="/css/jquery-ui.min.css" />

	<!-- datepicker (min쓰면 안됨) -->
	<link rel="stylesheet" href="/css/datepicker.css" />

	<link rel="stylesheet" href="/css/search.css" />
	
</head>
<body>
	<div layout:fragment="content">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-4 searcharea">
					<form role="form" action="#">
						<div class="form-group" style="margin-top:20px">
							<label for="date">날짜</label>
							<input id="date" type="text" data-range="true" data-multiple-dates-separator=" ~ " data-language="en" class="datepicker-here form-control" />
							<input type="hidden" id="startdate" name="bookingStart" />
							<input type="hidden" id="enddate" name="bookingEnd" />
						</div>

						<hr />

						<div class="form-group">
							<label for="keywordsearch">키워드 검색</label>
							<small>(지역 or 이름)</small>
							<input type="text" id="keywordsearch" name="keyword" class="form-control" placeholder="ex) 강남 or 월드하우스" />
						</div>

						<hr />

						<div class="form-group">
							<div class="col-xs-6" style="padding-left:0px;padding-right:0px"><strong>인원</strong></div>
							<div class="col-xs-6" style="padding-left:0px;padding-right:0px">
								<button type="button" id="down" class="resetStyle" disabled>-</button>
								<span id="person">1</span>
								<input type="hidden" name="bookingNumber" class="person" value="1" />
								<button type="button" id="up" class="resetStyle">+</button>
							</div>
						</div>

						<hr />
						<hr />

						<div class="form-group">
							<strong>가격</strong>
							<small>(1인 1박 기준)</small>
							<span id="amount" style="color:#f6931f; font-weight:bold;"></span><br /><br />
							<div id="slider-range" class="slider_align ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"></div>
							<input type="hidden" id="minprice" name="minprice" />
							<input type="hidden" id="maxprice" name="maxprice" />
						</div>

						<div class="checkbox">
							<p><strong>성별</strong></p>
							<label class="col-xs-6">
								<input type="checkbox" name="gender" value="f" />여성전용
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="gender" value="m" />남성전용
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="gender" value="n" />남녀공용
							</label>
						</div>

						<br />
						<br />

						<div class="checkbox">
							<p><strong>테마</strong></p>
							<label class="col-xs-6">
								<input type="checkbox" id="trip" name="trip" value="1" />#관광
							</label>
							<label class="col-xs-6">
								<input type="checkbox" id="gourmet" name="gourmet" value="1"/>#맛집
							</label>
							<label class="col-xs-6">
								<input type="checkbox" id="shopping" name="shopping" value="1" />#쇼핑
							</label>
							<label class="col-xs-6">
								<input type="checkbox" id="business" name="business" value="1" />#출장
							</label>
						</div>

						<br />
						<br />

						<div class="checkbox">
							<p><strong>편의시설</strong></p>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="1" />세탁기
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="2" />주차장
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="3" />주방/식당
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="4" />엘리베이터
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="5" />취사가능
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="6" />전자레인지
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="7" />와이파이
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="8" />에어컨
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="9" />냉장고
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="10" />욕조
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="11" />드라이기
							</label>
							<label class="col-xs-6">
								<input type="checkbox" name="facilities" value="12" />TV
							</label>
						</div>

						<input type="hidden" id="sortInput" name="sort" value="rating" />

						<button id="btn-search" type="button" class="btn btn-default btn-block btn-danger">검색</button>
					</form>
				</div>

				<div class="col-md-9 col-sm-8 maparea">

					<div id="map"></div>

					<hr />

					<ul id="sortBy" class="nav nav-tabs nav-justified">
						<li id="rating" role="presentation" class="active"><a>평점 높은 순</a></li>
						<li id="review" role="presentation"><a>리뷰 많은 순</a></li>
						<li id="lowprice" role="presentation"><a>낮은 가격 순</a></li>
						<li id="highprice" role="presentation"><a>높은 가격 순</a></li>
					</ul>

					<hr />

					<div id="searchresult">
						<!-- handlebars template target -->
						<div class="wrap-loading"></div>
					</div> <!-- searchresult end -->
				</div> <!-- end maparea -->
			</div> <!-- end row -->
		</div> <!-- end container -->
	</div> <!-- end layout content -->

	<div layout:fragment="script">
		<!-- script start -->
		<!-- jquery/ui -->
		<script src="vendor/jquery/jquery.min.js"></script>
		<script src="vendor/jquery/jquery-ui.min.js"></script>
		<script src="js/jquery.serializeObject.min.js"></script>

		<!-- handlebars -->
		<script src="js/handlebars4.js"></script>

		<!-- datepicker -->
		<script src="js/datepicker.js"></script>
		<script src="js/i18n/datepicker.en.js"></script>

		<!-- bootstrap -->
		<script src="js/bootstrap.min.js"></script>

		<!-- daum map -->
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=e82dcfc69e95758ed76053beed11845a&libraries=services,clusterer"></script>

		<script th:inline="javascript">
		
		// 시큐리티 + 에이젝스 에러 방지 설정
		var token = $("meta[name='_csrf']").attr("content");
		var header = $("meta[name='_csrf_header']").attr("content");
		$(document).ajaxSend(function(e, xhr, options) {
			xhr.setRequestHeader(header, token);
		});
		
		// daum map
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
			mapOption = {
				center: new daum.maps.LatLng(37.54477858829654, 127.00561259855127), // 지도의 중심좌표
				level: 8 // 지도의 확대 레벨
			};
		var map = new daum.maps.Map(mapContainer, mapOption);
		
		// 지도 확대 축소를 제어할 수 있는  줌 컨트롤 생성
		var zoomControl = new daum.maps.ZoomControl();
		map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);
		
		function setZoomable(zoomable) {
			map.setZoomable(zoomable);
		}
		
		daum.maps.event.addListener(map, 'click', function () {
			//console.log('map clicked');
			
			if (clickedOverlay){
				clickedOverlay.setMap(null);
			}
			
			setZoomable(true);
		});
		
		daum.maps.event.addListener(map, 'dragstart', function () {
			//console.log('map dragstarted');
			setZoomable(true);
		});
		
		setZoomable(false);
		
		daum.maps.event.addListener(map, 'mouseout', function () {
			//console.log('map mouseouted');
			setZoomable(false);
		});
		
		var markers = [];
		var overlays = [];
		var clickedOverlay = null;
		
		function getData() {
		
			var formData = $('form').serializeObject();
			delete formData['_csrf'];
		
			// 성별, 편의시설 하나만 선택할때 스트링으로 들어가는 것을 배열로 변경
			if (typeof formData.gender === 'string') {
				formData.gender = [formData.gender];
			}
			if (typeof formData.facilities === 'string') {
				formData.facilities = [formData.facilities];
			}
		
			$.ajax({
				url: '/searchgehainfo',
				type: 'post',
				contentType: 'application/json; charset=utf8',
				data: JSON.stringify(formData),
				dataType: 'json',
				beforeSend: function () {
					$('.wrap-loading').addClass('loader');
				},
				complete: function () {
					$('.wrap-loading').removeClass('loader');
					$('.wrap-loading').hide();
				}
			})
			.done(function (data) {
				// handlebars 템플릿 주입
				var source = $('#template').html();
				var template = Handlebars.compile(source);
				
				data.forEach(function (x, i) {
					data[i].bookingStart = $('#startdate').val();
					data[i].bookingEnd = $('#enddate').val();
					data[i].bookingNumber = $('#person').html();
				});
				
				$('#searchresult').html(template(data));
			})
			.done(function (data) {
				// 마커 & 오버레이
				markers.forEach(function (marker) { marker.setMap(null); });
				markers.length = 0 // 마커 배열 초기화
				overlays.forEach(function (overlay) { overlay.setMap(null); });
				overlays.length = 0 // 오버레이 배열 초기화
		
				var geocoder = new daum.maps.services.Geocoder();
				var bounds = new daum.maps.LatLngBounds();
				
				data.forEach(function (x, i) {
					geocoder.addressSearch(data[i].address, function (result, status) {
						if (status === daum.maps.services.Status.OK) {
							// markers가 하나라도 있으면
							// hide 하고 show
		
							var coords = new daum.maps.LatLng(result[0].y, result[0].x);
		
							// 마커를 생성하고 배열에 삽입
							var marker = new daum.maps.Marker({
								map: map,
								position: coords
							});
							markers.push(marker);
		
							var customContent = document.createElement('div');
							customContent.className = 'wrap';
		
							var info = document.createElement('div');
							info.className = 'info';
		
							var contentTitle = document.createElement('div');
							contentTitle.className = 'title';
							contentTitle.textContent = data[i].guestHouseName;
		
							var closeBtn = document.createElement('div');
							closeBtn.className = 'close';
							closeBtn.title = '닫기';
		
							closeBtn.addEventListener("click", function(){ 
								CustomOverlay.setMap(null)
							});
		
							var contentBody = document.createElement('div');
							contentBody.className = 'body';
		
							var imgDiv = document.createElement('div');
							imgDiv.className = 'img';
		
							var imgTag = document.createElement('img');
							imgTag.src = '/gehaImg/'+data[i].guestHouseCode+'/'+data[i].savedName;
							imgTag.width = 73;
							imgTag.height = 70;
		
							var contentDesc = document.createElement('div');
							contentDesc.className = 'desc';
		
							var ellipsis = document.createElement('div');
							ellipsis.className = 'ellipsis';
							ellipsis.textContent = data[i].address;
		
							var aDiv = document.createElement('div');
							aDiv.className = 'ellipsis';
							
							var aTag = document.createElement('a');
							aTag.href = '/room/roomInfo?guestHouseCode='+data[i].guestHouseCode+'&bookingStart='+data[i].bookingStart+'&bookingEnd='+data[i].bookingEnd+'&bookingNumber='+data[i].bookingNumber;
							aTag.addEventListener('click', function(){
								console.log(this);
							});
							
							aTag.target = '_blank';
							aTag.className = 'link';
							aTag.textContent = '게스트하우스 정보 보기';
		
							var yellowline = document.createElement('div');
							yellowline.className = 'content yellowline';
		
							var rating = document.createElement('span');
							rating.className = 'rating';
							rating.textContent = data[i].avgRating;
		
							var ratingname = document.createElement('span');
							ratingname.className = 'ratingname';
							ratingname.textContent = ' '+data[i].recommendRating;
		
							var comments = document.createElement('span');
							comments.className = 'comments';
							comments.textContent = ' ('+data[i].reviewCnt+')';
		
							var priceDiv = document.createElement('div');
							priceDiv.className = 'price ellipsis';
		
							var priceSpan = document.createElement('span');
							priceSpan.className = 'price';
							priceSpan.textContent = data[i].minprice+'원';
		
							customContent.appendChild(info);
								info.appendChild(contentTitle);
									contentTitle.appendChild(closeBtn);
										closeBtn.appendChild(contentBody);
								info.appendChild(contentBody);
									contentBody.appendChild(imgDiv);
										imgDiv.appendChild(imgTag);
									contentBody.appendChild(contentDesc);
										contentDesc.appendChild(ellipsis);
										contentDesc.appendChild(aDiv);
											aDiv.appendChild(aTag);
										contentDesc.appendChild(yellowline);
											yellowline.appendChild(rating);
											yellowline.appendChild(ratingname);
											yellowline.appendChild(comments);
										contentDesc.appendChild(priceDiv);
											priceDiv.appendChild(priceSpan);
							
							var CustomOverlay = new daum.maps.CustomOverlay({
								clickable: true,
								map: map,
								zIndex: 3,
								position: marker.getPosition()
							});
							
							daum.maps.event.addListener(marker, 'click', function() {
								if (clickedOverlay){
									clickedOverlay.setMap(null);
								}
								CustomOverlay.setMap(map);
								CustomOverlay.setContent(customContent);
								
								clickedOverlay = CustomOverlay;
							});
							overlays.push(CustomOverlay);
							
							bounds.extend(coords);
							map.setBounds(bounds);
						} // if status ok end
					}); // geocoder address search end
		
				}); // forEach end
			})
			.done(function (data) {
				// ajax 통신에 성공은 했지만 검색에 맞는 결과가 없는경우
				if(data.length === 0){
					var searchresult = document.getElementById('searchresult');
					var noDataText = document.createElement('div');
					noDataText.className = 'noDataText jumbotron';
					noDataText.textContent = '조건에 맞는 검색 결과가 없습니다';
					searchresult.appendChild(noDataText);
				}
			})
			.fail(function () {
				alert('failed');
			}); // ajax end
		} // function getData end
		
		$(function(){ // document onload
			
			// 오늘날짜부터 선택가능 / input hidden으로 나누어서 저장 / 세미콜론(;)넣지 않음 주의
			$(".datepicker-here").datepicker({
				language: 'en',
				minDate: new Date(),
				range: true,
				autoClose: true,
				onSelect: function onSelect(fd, date){
					$("#startdate").val(fd.split(" ~ ")[0])
					$("#enddate").val(fd.split(" ~ ")[1])
				}
			});
			
			// slider-range
			$("#slider-range").slider({
				range: true,
				min: 10000,
				max: 100000,
				step: 10000,
				values: [ 10000, 100000 ],
				slide: function( event, ui ) {
				$("#amount").text( Math.floor(ui.values[0]/10000) + "만원 ~ " + Math.floor(ui.values[1]/10000) + "만원");
				$("#minprice").val(ui.values[0]);
				$("#maxprice").val(ui.values[1]);
				}
			});
			
			$("#amount").text( $( "#slider-range" ).slider( "values", 0 )/10000 + "만원" +
						" ~ " + $( "#slider-range" ).slider( "values", 1 )/10000 + "만원" );
			$("#minprice").val($( "#slider-range" ).slider( "values", 0 ));
			$("#maxprice").val($( "#slider-range" ).slider( "values", 1 ));
			
			// 인원수 버튼 구현
			var spanPerson = $("span#person");
			var inputPerson = $("input.person");
			var buttonUp = $("button#up");
			var buttonDown = $("button#down");
		
			var personCnt = 1;
			
			buttonUp.click(function(){
				personCnt++;
				validCntAndPut();
			});
			buttonDown.click(function(){
				personCnt--;
				validCntAndPut();
			});
			
			var validCntAndPut = function(){
				
				if (personCnt >= 10){
					personCnt = 10;
					buttonUp.attr("disabled", true);
				} else {
					buttonUp.attr("disabled", false);
				}
			
				if (personCnt <= 1){
					personCnt = 1;
					buttonDown.attr("disabled", true);
				} else {
					buttonDown.attr("disabled", false);
				}
				
				spanPerson.html(personCnt);
				inputPerson.val(personCnt);
			}
		
			// 검색 기본 날짜 설정
			var getToday = new Date();
			var getTomorrow = new Date();
			getTomorrow.setDate(getTomorrow.getDate() + 1);
		
			var strToday = getToday.getFullYear() + '-' + lessThanTen(getToday.getMonth() + 1) + '-' + lessThanTen(getToday.getDate());
			var strTomorrow = getTomorrow.getFullYear() + '-' + lessThanTen(getTomorrow.getMonth() + 1) + '-' + lessThanTen(
				getTomorrow.getDate());
		
			$('#date').val(strToday + ' ~ ' + strTomorrow);
			$('#startdate').val(strToday);
			$('#enddate').val(strTomorrow);
		
			function lessThanTen(d) {
				if (d < 10) {
					return '0' + d;
				} else {
					return d;
				}
			}
			
			// 메인페이지에서 클릭시  테마 체크되어있는 상태로
			var gourmet = [[${sc.gourmet}]];
			var trip = [[${sc.trip}]];
			var shopping = [[${sc.shopping}]];
			var business = [[${sc.business}]];
			
			/*var gourmet = [[${sc.gourmet}]];
			var trip = [[${sc.trip}]];
			var shopping = [[${sc.shopping}]];
			var business = [[${sc.business}]];*/
			
			if(gourmet === 1) {
				$('#gourmet').attr('checked', true);
			}
			if(trip === 1) {
				$('#trip').attr('checked', true);
			}
			if(shopping === 1) {
				$('#shopping').attr('checked', true);
			}
			if(business === 1) {
				$('#business').attr('checked', true);
						}
						
		 
			// handlebars ifOne helper for tags
			Handlebars.registerHelper('ifOne', function (a, opts) {
				if (a === 1) {
					return opts.fn(this);
				} else {
					return opts.inverse(this);
				}
			});
			
			$('#btn-search').click(function () {
				getData();
			});
			$('#keywordsearch').keyup(function (e) {
				if (e.keyCode === 13) {
					getData();
				}
			});
		
			getData();
		
			// 정렬 버튼 이벤트 위임으로 등록
			$('#sortBy').delegate('li', 'click', function () {
				if ($(this).attr('class') !== 'active') {
					$('#sortBy .active').removeClass('active');
					$(this).addClass('active')
					$('#sortInput').val($(this).attr('id'));
					getData();
				}
			});
		}); // document onload end
		</script>
		<script id="template" type="text/x-handlebars-template">
			{{#each .}}
			<div class="housewrapper col-lg-4 col-md-6 col-xs-12">
				<a href="/room/roomInfo?guestHouseCode={{guestHouseCode}}&bookingStart={{bookingStart}}&bookingEnd={{bookingEnd}}&bookingNumber={{bookingNumber}}">
					<div class="houseborder">
						<div class="houseimage" style="background-image:url(/gehaImg/{{guestHouseCode}}/{{savedName}});">
						</div>
						<div class="contentwrapper">
							<div class="content gehaname">
								<h4><span class="gehaname">{{guestHouseName}}</span></h4>
							</div>
							<div class="content yellowline">
								<span class="rating">{{avgRating}}</span>
								<span class="ratingname">{{recommendRating}}</span>
								<span class="comments">({{reviewCnt}})</span>
							</div>
							<div class="content tag">
								{{#ifOne trip}}
									<span class="tag">#관광</span>
								{{/ifOne}}
								{{#ifOne gourmet}}
									<span class="tag">#맛집</span>
								{{/ifOne}}
								{{#ifOne shopping}}
									<span class="tag">#쇼핑</span>
								{{/ifOne}}
								{{#ifOne businesstrip}}
									<span class="tag">#출장</span>
								{{/ifOne}}
							</div>
							<div class="content price">
								<span class="price">{{minprice}}원</span>
							</div>
						</div>
					</div>
				</a>
			</div> <!-- housewrapper end -->
			{{/each}}
		</script>
		<!-- script end -->
	</div> <!-- end layout script -->
</body>

</html>