<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.geha.dao.AdminPageDao">
	<select id="getMemberList" resultType="MemberDto">

		<!-- criteria 를 적용한 게시판 페이징 조회 -->

<![CDATA[
select
    *
from
    member_tb
where memberCode > 0]]>

		<if test="auth!=''">
			and authority like #{auth}
		</if>
		<choose>
			<when test="cri.type == 'name'.toString()">
				and memberName like CONCAT('%',#{cri.keyword},'%')
			</when>
			<when test="cri.type == 'email'.toString()">
				and id like CONCAT('%',#{cri.keyword},'%')
			</when>
		</choose>

<![CDATA[
order by memberCode desc
limit #{cri.pageStart}, #{cri.perPageNum}]]>



	</select>

	<update id="changeAdmin">
		update member_tb set authority = 'ADMIN' where
		<foreach item="list" index="index" collection="id" open="("
			separator="or" close=")">
			id = #{list}
		</foreach>
	</update>

	<update id="changeUser">
		update member_tb set authority = 'USER' where
		<foreach item="list" index="index" collection="id" open="("
			separator="or" close=")">
			id = #{list}
		</foreach>
	</update>



	<select id="getTotal" resultType="int">
		<![CDATA[select count(*) from
		member_tb 
		where memberCode > 0]]>
	
			<choose>
			<when test="cri.type == 'name'">
				and memberName like CONCAT('%',#{cri.keyword},'%')
				
			</when>
			<when test="cri.type == 'email'">
				and id like CONCAT('%',#{cri.keyword},'%')
			</when>
		</choose>
	<if test="auth!=''">
			and authority like #{auth}
		</if>
	</select>

	<select id="getApprovalHouseList" resultType="GuestHouseDto">
		select g.*,m.memberName from guestHouse_tb g, member_tb m
		where g.approvalDate is null and g.memberCode = m.memberCode;
	</select>

	<update id="approveNewGuestHouse">
		update guestHouse_tb set approvalDate = now(),status = '승인완료'
		where guestHouseCode = #{guestHouseCode}
	</update>

	<update id="rejectNewGuestHouse">
		update guestHouse_tb set status = '반려' where guestHouseCode =
		#{guestHouseCode}
	</update>

	<insert id="insertReject" parameterType="RejectDto">
		insert into reject_tb values (#{dto.guestHouseCode}, #{dto.memberCode},
		now(), #{dto.rejectMsg})
	</insert>

	<select id="getRejectListByGuestHouseCode"
		resultType="RejectDto">
		select * from reject_tb where guestHouseCode = #{guestHouseCode}
	</select>
</mapper>