<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.geha.dao.MyPageDao">
<update id="modifyNameEtc">
update member_tb set memberName = #{memberName}, businessLicense = #{businessLicense},
gender = #{gender}
where id = #{id}
</update>

<update id="modifyInfo">
update member_tb set memberName = #{memberName}, password = #{password}, 
businessLicense = #{businessLicense}, gender = #{gender} 
where id = #{id}
</update>

<select id="getReviewList" resultType="ReviewDto">
select r.*, v.guestHouseName, v.roomName, o.guestHouseCode 
from booking_tb b, review_tb r,bkrmghmatching_view v, room_tb o 
where b.memberCode = #{memberCode} and b.bookingCode = r.bookingCode 
and r.bookingCode = v.bookingCode and v.roomCode = o.roomCode
order by r.writingDate desc
limit #{cri.pageStart}, #{cri.perPageNum}
</select>

<update id="modifyReview" parameterType="ReviewDto">
update review_tb set title = #{title}, content = #{content}, rating = #{rating}
where reviewNo = #{reviewNo}
</update>

<delete id="deleteReview">
delete from review_tb where reviewNo = #{reviewNo}
</delete>

<select id="myLike" resultType="LikeDto">
select g.guestHouseName, g.guestHouseCode, r.roomName, r.charge, r.roomCode, g.avgRating,f.savedName
from guestHouse_tb g, room_tb r, like_tb l,file_tb f
where l.roomCode = r.roomCode and r.guestHouseCode = g.guestHouseCode
and f.guestHouseCode = g.guestHouseCode and f.isMainImage = 1 and f.roomCode = 0 
and l.memberCode = #{memberCode}
limit #{cri.pageStart}, #{cri.perPageNum}
</select>

<delete id="deleteLike">
delete from like_tb where 
<foreach item="list" index="index" collection="deleteLikeList"
        open="(" separator="or" close=")">
         memberCode = #{memberCode} and roomCode = #{list}
    </foreach>
</delete>

<select id="getLikeTotal" resultType="int">
select count(*) from
		like_tb where memberCode = #{memberCode}
</select>

<select id="getReviewTotal" resultType="int">
select count(*) from review_tb r, booking_tb b
where b.memberCode = #{memberCode} and b.bookingCode = r.bookingCode 
</select>

<select id="getBookingListTotal" resultType="int">
select count(*) from booking_tb
where memberCode = #{memberCode}
</select>

<select id="getFileList" resultType="FileDto">
select savedName from file_tb where guestHouseCode = #{guestHouseCode}
and roomCode = 0;
</select>
</mapper>