<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bit.geha.dao.RoomDao">

	<select id="selectGuestHouse" resultType="GuestHouseDto">
		select * from
		guestHouse_tb
	</select>

	<select id="gehaInfo" resultType="GuestHouseDto">
		select
		guestHouseName, guestHouseInfo, rules,
		parkingInfo,address,directions,avgRating,businessTrip,gourmet,trip,shopping
		from guestHouse_tb
		where guestHouseCode = #{guestHouseCode}

	</select>

	<select id="roomInfo" resultType="RoomDto">
		select *
		from room_tb
		where guestHouseCode = #{guestHouseCode}
	</select>

	<select id="facilityInfo" resultType="FacilityDto">
		select
		a.guestHouseCode,a.facilityCode,b.facilityName
		from guestHouse_has_facility_tb a , facility_tb b
		where a.guestHouseCode = #{guestHouseCode}
		and b.facilityCode = a.facilityCode
		
	</select>
	
	<select id="reviewInfo" resultType="ReplyReviewDto">
		select
		a.reviewNo,a.title,a.rating,a.content,c.roomName,b.booker,a.writingDate,a.replyContent,a.replyDate 
		from review_tb a , booking_tb b ,room_tb c, guestHouse_tb d
		where d.guestHouseCode =#{guestHouseCode}
		and a.bookingCode = b.bookingCode
		and b.roomCode = c.roomCode
		and c.guestHouseCode = d.guestHouseCode
		ORDER by a.reviewNo DESC ;
	</select>

</mapper>